{% macro paginate(pagination) %}
    {#{% if to > 10 %}#}
    {#<div class="badge badge-alert">Astuce : affiner la recherche pour réduire le nombre de page</div><br/>#}
    {#{% endif %}#}
    {% set after = false %}
    {% set before = false %}
    {% set last_page = null %}

    <a href="{{ url(app.request.get('_route'),app.request.query.all|merge({ppage:1})) }}"
       class="{% if pagination.current == 0 %}font-bold{% endif %}">1</a>

    {% if(pagination.pages>1) %}
        {% for page in 2..(pagination.pages) %}
            {% if (page <= pagination.current +2 and page >= pagination.current-2) or loop.index+1 == pagination.pages %}
                <a href="{{ url(app.request.get('_route'),app.request.query.all|merge({ppage:page})) }}"
                   class="{% if pagination.current == page %}font-bold{% endif %}">{{ page }}</a>
            {% endif %}
            {% if page > pagination.current+2 and after == false %}
                ...
                {% set after = true %}
            {% endif %}
            {% if page < pagination.current-2 and before == false %}
                ...
                {% set before = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}